@import "helpers.css";
@import "card-stats.css";
@import "menu.css";
@import "lib/alert.css";
@font-face {
    font-family: "Gotham";
    src: url("http://190.248.86.226:8080/bid/public/fonts/gotham/GothamMedium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("http://190.248.86.226:8080/bid/public/fonts/gotham/Gotham-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Gotham";
    src: url("http://190.248.86.226:8080/bid/public/fonts/gotham/GothamBold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Gotham";
    src: url("http://190.248.86.226:8080/bid/public/fonts/gotham/GothamLight.ttf");
    font-weight: 300;
}

body {
    background-image: url("../images/fondo_final.jpg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-size : cover;
    font-family: "Gotham"!important;
}
footer {
    background-color: var(--footer);
    color: white;
    padding: 1em;
    text-align: right;
}
#content {
    flex: 1;
    margin-bottom: 1em;
}
#form-login button:last-child {
    align-self: flex-end;
    margin-top: 5px;
}
#user {
    width: 80%;
    margin: auto;
}
#user > div {
    display: flex;
    flex-direction: column;
}
label[for="change_password"]
{
    text-align: left;
    display: inline-flex;
    flex-direction: initial;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.ldBar-label {
    color: red;
    font-family: tahoma;
    font-size: 1.1em;
    font-weight: 900
}

.ldBar.label-center > .ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-shadow: 0 0 0 transparent !important;
    background-color: white;
    width: 40%;
    border-radius: 50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-home {
    font-weight: 100;
}
.meta, .meta-numero {
    color: white;
}
.meta-numero {
    font-size: 2.5em;
}
.porcentaje {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F01246;
    color: white;
}
.l-justify-center {
    justify-content: center;
}
.justify-flex-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
p {
    margin: 0;
}
.text-home p {
    text-align: left;
    word-break: break-all;
    font-size: 1.3em;
}
.text-home h1 {
    font-size: 2.5em;
}
.title-indicador h2 {
    font-size: 2em;
    padding: .5em 0;
}
.c3-chart-arc text {
    font-size: 2em;
    color: #ED1A4A;
}