{% extends "template/template.twig" %}
{% block content %}
    <div class="ed-item s-100 bg-white p-all-2rem">
        <table>
            <thead>
            <tr>
                <th>Códgio</th>
                <th>Patología</th>
                <th>Número de atenciones</th>
            </tr>
            </thead>
            <tbody>
            {% for p in patologias %}
                <tr>
                    <td>{{ p.cod }}</td>
                    <td>{{ p.patologia }}</td>
                    <td>{{ p.num_atenciones }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
